body {
    margin: 0; padding: 0; font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle at top, #1e293b, #020617);
    color: white; display: flex; justify-content: center; align-items: center; min-height: 100vh; flex-direction: column;
}
.screen { display: none; flex-direction: column; align-items: center; text-align: center; width: 100%; }
#home { display: flex; }
input, button { margin: 10px; padding: 12px; border-radius: 8px; border: none; font-size: 16px; width: 250px; }
button { background: linear-gradient(135deg, #f01818, #d44242); color: white; cursor: pointer; font-weight: bold; }
.card { width: 200px; height: 300px; perspective: 1000px; cursor: pointer; }
.card-inner { position: relative; width: 100%; height: 100%; transition: transform 0.6s; transform-style: preserve-3d; }
.card.flipped .card-inner { transform: rotateY(180deg); }
.card-front, .card-back { position: absolute; width: 100%; height: 100%; border-radius: 15px; backface-visibility: hidden; display: flex; justify-content: center; align-items: center; font-size: 1.5em; font-weight: bold; }
.card-front { background: #222; border: 2px solid #444; }
.card-back { transform: rotateY(180deg); }
.role-mafija { background: #f01818; }
.role-doktor { background: #32cd32; }
.role-policajac { background: #1e90ff; }
.role-civil { background: #555; }
.modal { position: fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.85); display:flex; justify-content:center; align-items:center; }
.modal-content { background:#111; padding:40px; border-radius:20px; text-align:center; border: 1px solid #f01818; }
ul { list-style: none; padding: 0; }
li { padding: 5px; font-size: 1.2em; }

h3{
    font-size: medium;
    text-align: left;
    background-color: crimson;

}
.role-dama {
    background: linear-gradient(135deg, #ff69b4, #ff1493) !important;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
